# CODEOWNERS - Define code ownership for automatic review requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
*                       @weorbis
/lib/                   @weorbis
/test/                  @weorbis
/example/               @weorbis
pubspec.yaml            @weorbis
/android/               @weorbis
/ios/                   @weorbis
/.github/               @weorbis
/.github/workflows/     @weorbis
*.md                    @weorbis
/doc/                   @weorbis
SECURITY.md             @weorbis
